


.user-initial {
  font-size: 40px;
  font-weight: bold;
}

.user-name {
  font-size: 16px;
}



.report-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.report-button:hover {
  text-decoration: underline;
}

nav{
      background: rgb(13,221,255);
      background: linear-gradient(137deg, rgba(13,221,255,1) 0%, rgba(49,157,239,1) 44%, rgba(49,157,239,1) 84%);
      width:100%;
      padding: 10px 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    
}

.header ul {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;

}

.header-logo {
  width: 120px;
  margin-right: 40px;
}



.user-initial{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FCE7C6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-initial span{
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

.sub-menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.drop-down {
  display: flex;
  position: absolute;
  top: 100%;
  background-color: #DEFCF7;
  gap: 1.5rem;
  flex-direction: column;
  
}

.sub-menu-link {
  text-decoration: none;
  color: black;
}
#signout{
  color: grey;
  font-size: 0.8rem;
  text-decoration: none;
}

#profile-icon {
    display: flex;
    align-items: center;
}
nav {
  gap:1rem;
  /* background: transparent; */
}
nav ul {
      width: 80%;
      text-align: right;
      /* background: transparent; */
      
}

nav ul li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
}

nav ul li a {
    color: rgb(31, 30, 30);
    text-decoration: none;
    font-weight: 600;
}

#add-expense-form >p {
  color: black;
}
.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3.5rem;
  padding: 50px;
  gap: 2rem;
  width: 350px;
  box-shadow: 0 7px 9px 0 rgba(0,0, 0, .5);
  backdrop-filter: blur(20px);
}

select {
  width: 100%;
  outline: none;
  border: none;
  height: 2rem;
  
}

.submitBtn {
  width: 100%;
  background: rgb(13,221,255);
  background: linear-gradient(137deg, rgba(13,221,255,1) 0%, rgba(49,157,239,1) 44%, rgba(49,157,239,1) 84%);
  border-radius: 0.8rem;
  cursor: pointer;
}
.submitBtn:hover{
  color: green;
  background: #FFB74D;
}

#add-expense-form > input {
  width: 100%;
  margin: .7rem;
  height: 2rem;
  border-radius: .5rem;
  /* background: transparent; */

}