
.logo {
  width: 100px;
  height: 100px;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-initial {
  font-size: 30px;
  font-weight: bold;
}

.user-name {
  font-size: 16px;
}

.user-options {
  display: flex;
  align-items: center;
}

.report-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.report-button:hover {
  text-decoration: underline;
}
